<mat-form-field>
  <input matInput (keyup)="applyFilter($event)" placeholder="Filter" />
</mat-form-field>
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  <ng-container
    [matColumnDef]="tableData"
    *ngFor="let tableData of objectKeys(columnHeader)"
  >
    <ng-container [ngSwitch]="tableData">
      <ng-container *ngSwitchDefault>
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{columnHeader[tableData]}}
        </th>
        <td mat-cell *matCellDef="let element">{{element[tableData] }}</td>
      </ng-container>

      <ng-container *ngSwitchCase="'actions'">
        <th mat-header-cell *matHeaderCellDef>{{columnHeader[tableData]}}</th>
        <td mat-cell *matCellDef="let row">
          <button
            (click)="handleClick(row, 'edit')"
            *ngIf="!row.hasOwnProperty('isEditable') || row['isEditable']"
          >
            Edit
          </button>
          <button
            (click)="handleClick(row, 'delete')"
            *ngIf="!row.hasOwnProperty('isDeletable') || row['isDeletable']"
          >
            Delete
          </button>
        </td>
      </ng-container>
    </ng-container>
  </ng-container>

  <!-- Row shown when there is no matching data. -->
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No data found</td>
  </tr>

  <tr mat-header-row *matHeaderRowDef="objectKeys(columnHeader)"></tr>
  <tr mat-row *matRowDef="let row; columns: objectKeys(columnHeader);"></tr>
</table>

<mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
